/**
 * 12. Responsive
 */
@media only screen and (max-width:1200px){

  .chipfluent-metabox{

    .chipfluent-field{

      .chipfluent-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      .chipfluent-fieldset{
        float: none;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width:782px){

  .chipfluent-header-inner{
    text-align: center;

    h1{
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .chipfluent-form-result{
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .chipfluent-search,
  .chipfluent-header-right,
  .chipfluent-header-left{
    width: 100%;
  }

  .chipfluent-search{
    text-align: center;
    margin-bottom: 15px;
  }

  .chipfluent-footer{
    text-align: center;
  }

  .chipfluent-buttons{
    float: none;
  }

  .chipfluent-copyright{
    float: none;
    margin-top: 10px;
  }

  .chipfluent-nav,
  .chipfluent-expand-all,
  .chipfluent-reset-section,
  .chipfluent-nav-background{
    display: none !important;
  }

  .chipfluent-nav-normal + .chipfluent-content{
    margin-left: 0;
  }

  .chipfluent-section-title,
  .chipfluent-section{
    display: block !important;
  }

  .chipfluent-field{

    .chipfluent-title{
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }

    .chipfluent-fieldset{
      float: none;
      width: 100%;
    }
  }

  .chipfluent-field-color{

    .button.wp-picker-clear{
      padding: 0 8px;
      line-height: 2.14285714;
      min-height: 32px;
    }
  }

  .chipfluent-profile-options,
  .chipfluent-taxonomy-edit-fields{

    > .chipfluent-field{

      > .chipfluent-title{
        float: none;
        width: 100%;
        margin-bottom: 10px;
      }

      > .chipfluent-fieldset{
        float: none;
        width: 100%;
      }
    }
  }

  .chipfluent-nav-menu-options{

    > .chipfluent-fields{
      margin-left: -10px;
      margin-right: -10px;

      > .chipfluent-field{
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 782px) {

  .chipfluent-modal{

    .chipfluent-modal-inner{
      width: 90%;
    }
  }
}

@media only screen and (max-height: 750px) {

  .chipfluent-modal{

    .chipfluent-modal-inner{
      height: auto;
    }

    .chipfluent-modal-content{
      height: calc(100vh - 200px);
    }
  }
}
